body{
	background-image:url(bg.jpg);
}
#main_ul {
	display:flex;
    padding: 0px;
    margin: 0px;
}

#menu {	
    width: 100%;
    background-color: #FC9D00;
    font-family: Arial;
}

#menu li {
	line-height: 40px;
    display: list-item;
	list-style: none;
	text-align: -webkit-match-parent;
}

#menu a:link, #menu a:visited {
    color: #FFFFFF;
	float: left;
    text-decoration: none;
    display: block;
    padding: 20px 13px;
    height: 40px;
    text-align: center;
    font-size: 15px;
}

#menu a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E93301;
}

#menu h2 {
    padding-left: 20px;
}
#reg {
    margin-left: 600px;
}
footer{
	background-color: #d7d7d7;
}
footer{
	background-color: #d7d7d7;
}
#contacts{
	text-align:center;
	padding-bottom:15px;
}
#absite{
	padding-left:20px;
}
#ast{
	padding-top:15px;
	font-size:20px;
}
#regbef{
	background-color: #FC9D00;
	position:fixed;
	top: -9999px;

}
#regbef.active{
	top: 100px;
	left: 500px;
	padding: 10px 50px 10px 50px;
	transition: all 300ms;
}
#enterance{
	background-color: #FC9D00;
	position:fixed;
	top: -9999px;

}
#enterance.active{
	top: 100px;
	left: 500px;
	padding: 10px 50px 10px 50px;
	transition: all 300ms;
}
img{
	width: 40px;
	height: 40px;
}