ul {
    padding: 0px;
    margin: 0px;
}

#menu {
    width: 100%;
    background-color: #FC9D00;
    font-family: Arial;
}

#menu li {
    display: inline-block;
}

#menu a:link, #menu a:visited {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 0px 13px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
}

#menu a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E93301;
}

#menu h2 {
    padding-left: 20px;
}

#menu input[type=search] {
    margin-left: 200px;
    width: 400px;
    height: 30px;
}

#menu input[type=submit] {
    height: 30px;
    width: 70px;
}

#reg {
    margin-left: 140px;
}

#main {
    margin-left: 20%;
}
footer{
	background-color: #d7d7d7;
}
#contacts{
	text-align:center;
	padding-bottom:15px;
}
#absite{
	padding-left:20px;
}
#ast{
	padding-top:15px;
	font-size:20px;
}