#te {
    text-align: center;
    font-size: 30px;
}

#okno {
        width: 300px;
        height: 50px;
        text-align: center;
        padding: 15px;
        border: 3px solid #0000cc;
        border-radius: 10px;
        color: #0000cc;
        display: none;
      }

.input{
    width: 30%;
    height: 30px;
}

input[type=text] {

}

#fields {
    margin-left: 40%;
}

input[type=submit] {
    height: 40px;
}


