body {
    background: url
}

#tr {
    text-align: center;
    font-size: 30px;
}

input[type=text] {
    width: 30%;
    height: 30px;
}

#fields {
    margin-left: 40%;
}

input[type=submit] {
    height: 40px;
}
#main{
		botder-width:10px;
}